.error-page {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/error-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;

  .content {
    color: #fff;
    max-width: 460px;
    align-self: center;
    @include grid-col(12);

    .big-error {
      text-align: center;
      font-size: rem-calc(150);
      font-family: $header-font-family;
      line-height: 1;
      opacity: .5;

      @include breakpoint(medium) {
        font-size: rem-calc(300);
      }
    }

    h1 {
      font-size: rem-calc(36);
    }

    p {
      font-weight: bolder;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }

    .round-button.back {
      @include button-style(
      $background: #fff,
      $background-hover: scale_color(#fff, $lightness: -20%),
      $color: $primary-color
      );
      font-size: rem-calc(16);
      padding: rem-calc(10 30);
    }
  }
}
