.newsletter-page {
  h2 {
    font-size: rem-calc(36);
    margin-bottom: rem-calc(33);
  }
}

.newsletter-container {

  font-family: $header-font-family;
  border: 2px solid #b7c5d0;
  padding: 40px;
  margin-top: rem-calc(40);

  .newsletter-title {
    margin: rem-calc(45 0);
    text-align: center;
  }

  .newsletter-form {
    max-width: rem-calc(642);
    margin: 0 auto;

    .row {
      @include grid-row($behavior: nest);
    }
  }

  label > input, label > select {
    margin-top: rem-calc(6);
  }


  select {
    background-color: #f3f4f6;
  }

  .topic-title {
    margin-bottom: rem-calc(6);
  }

  .topic-container {
    padding: rem-calc(30);
    background-color: #f3f4f6;

    input[type=checkbox] {
      margin: 0 1rem 1.23rem;
    }
  }

  label.agb {
    margin: rem-calc(40 0 0 0);

    input[type=checkbox] {
      margin: 0;
    }
  }

  .info {
    margin-top: rem-calc(40);
    font-size: rem-calc(12);
  }

  .round-button {
    margin-top: rem-calc(40)
  }
}

.newsletter-success-text {
  text-align: center;
  h2 {
    font-size: rem-calc(36);
    line-height: 1;
    margin-bottom:rem-calc(16);
  }
}

.fb-box {
  display: flex;
  justify-content: center;
  padding: rem-calc(68);

  .fb-icon {
    width: 151px;
    height: 146px;
    background: url('../images/fb-icon.jpg');
    margin-right: 54px;
  }

  .text {
    .title {
      margin-top: rem-calc(14);
      line-height: 1;
    }

    .round-button {
      margin-top: 17px;
    }
  }
}
