#page {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }
}

.wp-post-image {
  border-radius: 2px;
}

article.main-content > .entry-content {
  a {text-decoration: underline}
}