#page-full-width-wide {
  margin-top: 3rem;

  .about-us-spacer {
    hr {
      border-bottom: 2px solid #b7c5d0;
      margin: rem-calc( 60 0 );
    }

    h3 {
      font-size: rem-calc(36);
      margin-bottom: rem-calc(50);
    }
  }

}
