#single-post {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }

    p:empty {
      display: none;
    }

    ul li {
      margin-bottom: .5rem;
    }


    table {
      width: 100% !important;

      td:first-child {
        min-width: 150px;
        //padding-right: rem-calc(20);

        img {
          border-radius: 100px;
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center;
        }
      }

      td:last-child {
        > * {
          font-family: $header-font-family;
          line-height: 1.3;
        }

        strong {
          font-size: rem-calc(14);
          font-weight: bold;
          margin-bottom: .5rem;
          display: block;
        }

        em {
          font-size: rem-calc(14);
          font-style: normal;
        }
      }
    }

    img.size-full {
      width: 100%;
    }

    header {
      margin-bottom: rem-calc(14);

      h1 {
        font-size: rem-calc(30);

        @include breakpoint(medium) {
          font-size: rem-calc(36px);
        }

        letter-spacing: rem-calc(.2px);
        line-height: 1.1;
        margin: 0;
      }

      time {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: italic;
        color: #a8a8a8;
      }
    }
  }

}

section.tags {
  padding-top: rem-calc(24);
  border-top: solid 2px #f3f4f6;
  padding-bottom: rem-calc(16);

  h3 {
    font-size: rem-calc(20);
    font-family: $header-font-family;
  }

  ul.tags {
    list-style: none;
    margin: rem-calc(12) 0 0 0;
    display: block;

    li {
      display: inline-block;
      margin-right: rem-calc(8);
      margin-bottom: rem-calc(14);

      a {
        @include button-base;
        padding: rem-calc(8) rem-calc(18);
        border: 1px solid map_get($foundation-palette, primary);
        border-radius: 20px;
        font-size: rem-calc(15);
        margin-bottom: 0;

        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }
}
