#subjects {
  margin-top: 3rem;

  @include grid-row();

  .subject-content {
    @include grid-column(12);
  }

  article.subject {

    margin-top: rem-calc(32);
    position: relative;



    h3 {
      padding-top: rem-calc(15);
      font-size: rem-calc(36);
    }

    a.overlay-anchor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.suggest {
      .text {
        background-color: $primary-color;
        padding: rem-calc(0 39 39 39);
        color: #fff;
      }
    }
  }


}