.author-module {
  @include clearfix;
  padding: rem-calc(40 20);
  background-color: #f3f4f6;
  position: relative;
  margin-bottom: rem-calc(50);

  @include breakpoint(medium) {
    padding: rem-calc(44 55 44 30);
  }

  &.active {
    .author-biography {
      max-height: 700px;


      .fade {
        transform: translateY(100%);
      }
    }

  }

  .author-image {
    text-align: center;
    margin-bottom: rem-calc(30);
    //min-width: 104px;

    @include breakpoint(medium) {
      @include grid-col(4);
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      @include grid-col(3);
    }


    img {
      border-radius: 100px;
      width: 104px;
    }
  }

  .author-text {
    text-align: center;
    @include grid-col(12);

    @include breakpoint(medium) {
      text-align: left;
      @include grid-col(8);
    }

    @include breakpoint(large) {
      @include grid-col(9);
    }


    .author-name {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(5);
    }

    .author-position {
      display: block;
      line-height: 1;
      font-size: rem-calc(14);
      margin-bottom: rem-calc(12);
    }

    .icon-bar {
      a.button {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: rem-calc(5);

        &.email {
          background: url("../images/mail_icon.svg") no-repeat center;
        }

        &.linkedin {
          background: url("../images/linkedin_icon.svg") no-repeat center;
        }
      }

      .round-button {
        vertical-align: top;
        padding: rem-calc(7 16);
      }
    }
  }

  .author-biography {
    padding-top: rem-calc(44);
    @include grid-col(12);
    position: relative;
    max-height: rem-calc(114);
    overflow: hidden;
    font-size: rem-calc(14);
    font-family: $header-font-family;
    line-height: 1.2;
    transition: .5s;

    .fade {
      content: '';
      position: absolute;
      bottom: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #f3f4f6);
      width: 100%;
      height: 100%;
      transform: translateY(0%);
      transition: .5s;
    }
  }

  .open {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22.5px;
    background: url('../images/open-icon.svg');
    transition: .5s transform;
    background-size: contain;

    &.active {
      transform: translateX(-50%) rotateZ(180deg);
    }
  }
}