@mixin round-button-base(
  $background: $button-background,
  $background-hover: scale-color($background, $lightness: 20%),
  $color: $button-color
) {
  @include button-style($background, $background-hover, $color);
  @include disable-mouse-outline;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 1rem;
  font-family: $header-font-family;
  padding: rem-calc(7) rem-calc(16) rem-calc(9) rem-calc(16);
  text-decoration: none !important;
}

.round-button {
  @include round-button-base();

  &.white {
    @include button-style(
            $background: #fff,
            $background-hover: scale_color(#fff, $lightness: -20%),
            $color: $primary-color
    );
  }

  &.expand {
    @include button-expand();
  }
}

.waves-effect {
  border: none !important;
}
