#{text-inputs()},
textarea {
  margin-bottom: rem-calc(13);
}


.parsley-error {
  margin-bottom: rem-calc(5) !important;
}
.parsley-errors-list {
  list-style: none;
  margin: 0;
  margin-bottom: rem-calc(13);

  li {
    font-size: rem-calc(12);
    color: scale-color($primary-color, $lightness: 50%);
  }
}
