.pagination-centered {
  text-align: center;
}

.pagination {
  margin-top: rem-calc(20);
  //@include pagination-container;
  font-family: 'Source Code Pro', 'sans-serif';

  li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  a {
    border-radius: $pagination-radius;
    background-color: map_get($foundation-palette, secondary);
  }

  .current {
    border-radius: 15px;
    display: block;
  }
}
