.widget {
  margin-bottom: rem-calc(30);
  border-radius: 2px;
  padding: rem-calc(26);


  .widgettitle, h6 {
    font-size: rem-calc(26px);
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-bottom: rem-calc(16);
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 90px;
      height: 1px;
      background-color: map_get($foundation-palette, primary);
      margin: 0 auto;
      margin-top: rem-calc(13px);
    }
  }
}


%panel-grey {
  border-radius: 2px;
  background-color: #f3f4f6;
}

%panel-border {
  border: solid 2px #b7c5d0;
}