
.related-posts {
  h3 {
    font-size: rem-calc(20px);
    margin-bottom: rem-calc(18);
  }

}
.yarpp-related {
  h3 {
    display: none;
  }
}

.yarpp-thumbnails-horizontal {
  @include grid-row($behavior: nest);

  .yarpp-thumbnail {
    @include grid-col(12);
    text-align: center;
    margin-bottom: rem-calc(30);
    @include breakpoint(medium) {
      @include grid-column(4);
      margin: 0;
    }
  }

  .yarpp-thumbnail-title {
    display: block;
    font-family: $header-font-family;
    max-width: 240px;
    margin: rem-calc(14) auto 0 auto;
  }
}