ul.related-links {

  h3 {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(10);
    line-height: 1;
  }
  padding: rem-calc(24 30);
  border: solid 2px #b7c5d0;
  margin: 0;
  list-style: none;
  margin-top: rem-calc(35);

  li {
    line-height: 1.7;

    &::before {
      margin-right: rem-calc(8);
      display: inline-block;
      content: '';
      background: url('../images/link.svg') no-repeat center left;
      width: 19px;
      height: 8px;
    }
  }
}