//

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
  margin-left: 0;
  text-align: center;
  width: 100% !important;
  img {
    width: 100%;

  }
}

.screen-reader-response {
  display: none;
}

%serif-pro {
  font-family: 'Source Serif Pro', serif;
}

body {
  letter-spacing: 0.2px;
  ::selection {
    background: scale_color(map_get($foundation-palette, primary), $lightness: 90%); /* WebKit/Blink Browsers */
  }
}

%white-anchor {
  color: #fff;

  &:hover {
    color: scale_color(#fff, $lightness: -14%);
  }
}


div.pp_default .pp_description {
  font-size: rem-calc(16);
  font-weight: normal;
  margin-top: 1em;
}