.author-info {

  .author-content {
    @include breakpoint(medium) {
      display: flex;
    }
  }

  .author-header {
    font-size: 20px;
    margin-bottom: rem-calc(18);
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }


  .author-image {
    margin-bottom: 1em;
    margin-right: rem-calc(17);
    @include breakpoint(medium) {;
      margin-bottom: 0;
    }

  }

  .author-text {
    text-align: center;

    @include breakpoint(medium) {;
      text-align: left;
    }

  }
}

.author-image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
  }
}

.author-text {
  font-family: $header-font-family;

  .author-name {
    font-size: rem-calc(14);
    font-weight: bold;
  }

  .author-bio {
    font-size: rem-calc(14);
  }
}

.guest-author-wdgt {
  padding: rem-calc(24) 0;
  font-size: rem-calc(36);
  font-family: $header-font-family;
  border-top: solid 2px #f3f4f6;
  border-bottom: solid 2px #f3f4f6;
  margin-top: rem-calc(34);

  .round-button {
    padding-left: rem-calc(24);
    padding-right: rem-calc(24);
    font-size: rem-calc(16);
    margin-left: 2rem;
    vertical-align: middle;
    margin-top: rem-calc(-6);
  }
}