.blogpost-entry {
  @include grid-row($behavior: nest);
  margin-bottom: rem-calc(60);

  .image {
    @include grid-column(12);
    margin-bottom: rem-calc(24px);

    @include breakpoint(medium) {
      @include grid-column(37.5%);
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  .text-container {
    @include grid-column(12);
    @include breakpoint(medium) {
      @include grid-column(62.5%);
    }

    margin-top:rem-calc(-8);
  }

  &.large {

    .image {
      @include grid-column(12);
      margin-bottom: rem-calc(14px);

    }
    .text-container {
      @include grid-column(12);
      margin-top: 0;
    }

    .line {
      margin-top: rem-calc(50);
      background-color: map_get($foundation-palette, primary);
      width: 100%;
      height: 1px;
    }
  }

  header {
    margin-bottom: rem-calc(14);

    h2 {
      font-size: rem-calc(30px);
      @include breakpoint(medium) {
        font-size: rem-calc(36px);
      }

      letter-spacing: rem-calc(.2px);
      line-height: 1.1;
      margin: 0;
    }

    time {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: italic;
      color: #a8a8a8;
    }
  }

  .entry-content {

    .more-link {
      @include round-button-base();
      font-size: rem-calc(16px);
      text-decoration: none;
    }
  }
}