section#respond {
  @include grid-row-nest();
  @include clearfix;
  @include foundation-forms;
  font-family: $header-font-family;
  padding-bottom: rem-calc(28);

  textarea {
    min-height: rem-calc(170);
  }

  #{text-inputs()},
  textarea {
    padding-left: rem-calc(16);
  }

  .waves-button-input {
    outline: none;
    line-height: 1;
  }
}

section#comments {
  margin: rem-calc(30 0);
  ol.comment-list {

    list-style: none;
    margin: 0;

    .comment {

      article.comment-body {
        background: scale_color(#f3f4f6, $lightness: 50%);
        margin-bottom: rem-calc(20);
        padding: rem-calc(20);
        border-radius: 3px;
        position: relative;

        a {
          text-decoration: underline;
        }
      }

      .comment-author {
        display: flex;

        img {
          margin-right: rem-calc(20px);
          border-radius: 50%;
          width: 48px;
          height: 48px;
        }

        .author-meta {
          font-family: $header-font-family;

          cite {
            font-style: normal;
            &::before {display: none}
            font-size: rem-calc(20);
          }

          time {
            font-size: rem-calc(14);
          }
        }
      }

      .comment-reply-link {
        position: absolute;
        top: 20px;
        right: 20px;

        &::after {
          display: inline-block;
          content: '↓';
          margin-left: rem-calc(10);
        }
      }

      section.comment {
        margin-top: rem-calc(15);
      }

      .hide {
        visibility: hidden;
      }
    }

    .children {
      list-style: none;
    }
  }
}
