.decent-comments {

  span {
    display: block;
    float: right;
    width: 85%;
  }
  .comment {
    @include clearfix;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(30);

    .comment-avatar {
      float: left;
      width: 15%;

      img {
        width: 36px;
        height: 36px;
        border-radius: 18px;
      }
    }

    .comment-author {
      font-size: rem-calc(16);
      font-weight: bold;
    }

    .comment-date {
      margin-bottom: rem-calc(10);
    }

    .comment-link {
      font-size: 0;
      a {
        @extend %white-anchor;
        font-size: rem-calc(14);
        text-decoration: underline;
        font-weight: bold;
      }

      margin-bottom: 7px;
    }
  }
}