#cookie-law-info-bar {
  width: 100%;
  padding: 1.5rem;
  border-top-color: $primary-color !important;
  color: #919191 !important;
  @include clearfix;

  .cli-plugin-button {
    @include round-button-base();
    //margin: rem-calc(0 15);
    float: right;
  }
}