.lufft-events {
  .event {
    background-color: map_get($foundation-palette, primary-dark);
    padding: rem-calc(14) rem-calc(17);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: rem-calc(14);
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    transition: .4s;

    &:hover {
      background-color: #718198;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .event-title {
    font-weight: bold;
  }
}