#pre-footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: rem-calc(60);
	background-color: map_get($foundation-palette, primary);


	article {
		color: #fff;
		border: solid 2px #f3f4f6;

		h6 {
			margin-bottom: rem-calc(31px);
			&::after {
				background-color: #fff;
			}
		}
	}

	article.lufft-events {
		@include breakpoint(small only) {
			display: none;
		}
	}

	#pre-footer {
		@include grid-row();
		padding: rem-calc(60) 0 rem-calc(40) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}

  #form_EMAIL {
    background-color: $primary-color;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: rem-calc(15);
    padding: rem-calc(8);
    height: auto;

    &::-webkit-input-placeholder {
      color: #fff;
    }

	  &:focus::-webkit-input-placeholder { color:transparent; }
	  &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
	  &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
	  &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
  }
}

#footer-container {
	background-color: map_get($foundation-palette, primary-dark);
	padding: rem-calc(35) 0;
	color: #fff;

	#footer {
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		@include grid-column-row();
		font-size: rem-calc(16);
		border-top: 1px solid #fff;
		padding-top: 1.5rem;
	}

	a { @extend %white-anchor; }

	ul.footer {

		display: none;

		@include breakpoint(medium) {
			@include menu-base();
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: rem-calc(40) - .7rem;
		}
	}

	.logo {
		span {
			display: inline-block;
			height: 100%;
			vertical-align: bottom;
			line-height: 1;
			padding-right: rem-calc(12);
		}

		&::after {
			content: '';
			display: block;
			width: 90px;
			height: 1px;
			background-color: #fff;
			margin: 0 auto;
			margin-top: rem-calc(21);
			margin-bottom: rem-calc(11);
		}
	}

	.copyright {
		line-height: 1;
	}
}
