.gallery {
  @include grid-row($behavior: nest);

  @for $i from 1 through $block-grid-max {

    @include breakpoint(medium) {
      &.gallery-columns-#{$i} {
        @include grid-layout($i, ".gallery-item");
      }
    }
  }

  figure {
    margin: 0;
    text-align: center;

    @each $size, $gutter in $grid-column-gutter {
      @include breakpoint($size) {
        padding: $gutter/2;
      }
    }

    img {
      border-radius: $global-radius;
    }

    figcaption {
      margin-top: 1rem;
      font-size: rem-calc(14);
      color: scale_color(map_get($foundation-palette, secondary), $lightness: 0);
    }
  }
}