.lufft-guest-author {
  text-align: center;

  .guest-author-icon {
    background-image: url('../images/guest-author.svg');
    width: 150px;
    height: 150px;
    background-size: contain;
    margin: rem-calc(24) auto;
    background-repeat: no-repeat;
  }

  a {
    @include round-button-base($color: #fff);
    padding: rem-calc(8) rem-calc(24);
    margin-bottom: rem-calc(10);
    white-space: nowrap;
  }
}

.fl-widget {
  @include breakpoint(medium) {
    .lufft-guest-author {
      display: flex;
      justify-content: space-between;
      padding: rem-calc(68 40);
      text-align: left;
      align-items: center;
    }

    .guest-author-icon {
      margin: 0;
    }

    .guest-author-text {
      padding: rem-calc(0 30px);
    }
  }

  @include breakpoint(large) {
    .lufft-guest-author {
      padding: rem-calc(68 115);
    }
  }

  a {
    font-size: rem-calc(16);
  }

  h3 {
    font-size: rem-calc(36);
    margin-bottom: 0;
  }
}