$instagram-gutter: (small: 20px, large: 20px);

.instagram-pics {

  @include breakpoint(large) {
    padding: 0 rem-calc(40);
  }

  @include grid-row($behavior: nest);
  list-style: none;

  li {
    @include grid-col($columns: 6, $gutter: $instagram-gutter);
    @each $size, $gutter in $instagram-gutter {
      @include breakpoint($size) {
        padding-bottom: rem-calc($gutter);
      }
    }

    img {border-radius: 2px;}
  }
}

.null-instagram-feed {
  text-align: center;
}