
/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
   @include menu-base();
   @include menu-direction(vertical);

   a {
     color: #fff;
     border-bottom: $primary-color 1px solid;
   }
  }
}

header#masthead {

  @include grid-row();
  font-family: $header-font-family;
  padding: rem-calc(20 0);
  background-color: #fbfbfb;
  border: solid 1px #f5f5f5;

  @include breakpoint(medium) {
    padding-top: rem-calc(60px);
    padding-bottom: 0;
    border: none;
    background-color: #fff;
  }
}

.title-bar {
  .switch {
    display: none;
  }

  @include breakpoint(small only) {
    @include grid-col(12);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .switch {
      display: block;
      @include erstellbar-switch-base($lang-switch-height: 19px, $lang-switch-width: 62px);

      a {
        font-size: 10px;
      }
    }
  }


  .title-bar-title {
    text-align: center;
    a {
      font-size: rem-calc(20);
      color: map_get($foundation-palette, primary);
      text-transform: uppercase;
      line-height: 1em;
      letter-spacing: rem-calc(5);

      @include breakpoint(medium) {
        font-size: rem-calc(48);
        letter-spacing: rem-calc(15px);
      }

      span {
        font-weight: lighter;
      }
    }
  }
}


nav#site-navigation {
  display: none;

  @include breakpoint(medium) {
    @include grid-column(12);
    margin-top: rem-calc(42);
    @include clearfix;
    display: block;
    text-align: center;
  }

   ul {
     text-transform: uppercase;
     display: inline-block;
     @include menu-base;
     letter-spacing: rem-calc(.8);

     li {
       @include breakpoint(large) {
         padding: 0 rem-calc(10);
       }

       a {
         padding: rem-calc(8);
         transition: .5s;

         @include breakpoint(large) {
           padding: rem-calc(8) rem-calc(16);
         }
       }

       &.guest-author {
         a { @include round-button-base($color: #fff);}
       }
     }
   }

  .switch {
    margin-top: 2px;
  }

  .line {
    margin-top: rem-calc(8);
    background: map_get($foundation-palette, primary);
    height: 1px;
    width: 100%;
  }
}


.menu-button-bg {
  background-color: $lang-switch-color;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;

  @include breakpoint(medium) {
    display: none;
  }
}

.menu-button {
  @include hamburger(
          $color: #fff,
          $color-hover: $dark-gray,
          $width: 18px,
          $height: 14px,
          $weight: 3px,
          $bars: 3
  );
}

