#searchform {
  input#s {
    width: 100%;
    padding-bottom: rem-calc(12);
    padding-top: rem-calc(12);
    font-size: rem-calc(15);
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid map_get($foundation-palette, primary);
    @include disable-mouse-outline;

    &::-webkit-input-placeholder {
      color:#b7c5d0;
    }
  }

  .input-group {
    position: relative;

    &::after {
      content: $fa-var-search;
      @include fa-icon;
      position: absolute;
      top: rem-calc(12);
      right: rem-calc(3);
      font-size: 1.1rem;
    }
  }

  .input-group-button {
    display: none;
  }
}