.sidebar {

    @include grid-column(12);
    margin-top: 3rem;

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 0;
  }
}


#text-2 {
  @extend %panel-grey;
  text-align: center;

  .textwidget {
    @extend %serif-pro;
  }

  @include breakpoint(small only) {
    display: none;
  }
}

.widget.lufft-social-icons {
  @extend %panel-border;
}

.widget.null-instagram-feed {
  @extend %panel-border;

  @include breakpoint(small only) {
    display: none;
  }
}

.widget.widget_categories {
  @extend %panel-border;
   ul {
     list-style: none;
     @include grid-row($behavior: nest);

     li {
       @include grid-col($columns: 6);
       text-align: center;
       font-size: rem-calc(15);
       margin-bottom: 1em;

       a {
         display: inline-block;
         @include round-button-base(
                 $background: transparent,
                 $background-hover: #b7c5d0,
                 $color: $body-font-color
         );
         padding: rem-calc(7) rem-calc(11);

         &:hover { color: #fff; }
       }
     }
   }
}

.widget.lufft-guest-author {
  @extend %panel-grey
}

.widget.widget_search {
  @extend %panel-border;
}