.lufft-social-icons {
  text-align: center;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;

    @include breakpoint(large) {
      margin: rem-calc(0 20);
    }


    >li {
      padding: .5rem;
    }
  }

  .fa {
    font-size: rem-calc(25);
  }
}