figure.teaser-image {
  margin: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: rem-calc(14);

  img {width: 100%}

  figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .6s;
    transition-delay: .5s;
    font-family: $header-font-family;
  }

  .hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    transform: translateY(100%);
    transition: .6s;
    background: linear-gradient(transparent, rgba(#000, .6));
  }

  &:hover {
    .hover {
      transform: translateY(0%);
    }

    figcaption {
      opacity: 1;
    }
  }
}